@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500;700&family=Nunito+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Pacifico&family=Quicksand:wght@300;500;600&display=swap');


.texto {
    height: 280px;
    color: black;
    font-family: 'Nunito';
  }
  
  .texto h3 {
    text-align: center;
    text-justify: auto;
    margin: 280px auto;
    width: 550px;
    font-weight: 600;
    font-size: 24px;
  }
  .imagem{
    display: flex;
    width: 2200px;
  }
  .logoImagem {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 40%;
    width: 20%;
    position: absolute;
    margin: 2%;
    padding: 20px;
}

 @media(max-width: 380px){
      .logoImagem {
      height: 500px;
      flex-wrap: wrap;
      flex-direction: column;
      }
    }