.footer {
  background: rgb(6,70,20);
  background: linear-gradient(90deg, rgba(6,70,20,1) 0%, rgba(80,187,175,1) 54%, rgba(6,92,7,1) 98%);
    color: white;
    text-align: center;
    height: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
  
    
  }
 