.main {
    display: flex;
    margin: 40px auto;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    padding: 50px;
  }
  
  .main img {
    justify-content: center;
    text-align: center;
    margin-top: 0;
    width: 300x;
    height: 300px;
    border: 2px solid black;
    border-radius: 50%;
    
  }
  
  .main h2 {
    font-weight: 900;
    font-size: 42px;
  }