/* .main {
    display: flex;
    margin: 40px auto;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    padding: 50px;
  }
  
  .main img {
    justify-content: center;
    text-align: center;
    margin-top: 0;
    width: 300x;
    height: 300px;
    border: 2px solid black;
    border-radius: 50%;
    
  }
  
  .main h2 {
    font-weight: 900;
    font-size: 42px;
  } */
  /* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
  
  .logoImagem {
    height: 40%;
    width: 20%;
    position: absolute;
    margin: 2%;
    padding: 20px;
    }
    h1{
      display: flex;
      color: blue;
      text-align: center;
      flex-direction: row;
      align-items: center;
    }
    .container{
      display: flex;
      height: 100%;
      
      padding: 10px;
     
  }
  .caixao{
    height: 100%;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}
  .caixa-foto{
    display: flex;
    width: 30%;
    height: 200px;
    padding: 30px;
    margin: 20px;
    background-color: white;
    padding: 10px;
    

    }
    .tortu{
      display: flex;
      width: 250px;
      height: 200px;
      background-repeat: no-repeat;
      background-position: center;
      border: 1px solid black;
      border-radius: 10px ;
      margin: 10px;
  }
  /* .descricao{
   flex-wrap: wrap;
   text-align: justify;
  } */
  .foto{
    display: flex;
    justify-content: center;

    padding: 300px;
  }
  .tres-foto{
    display: flex;
    margin-left: 130px;
    justify-content: space-around;
    
  }