 
   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
  
  .logoImagem {
    height: 55%;
    width: 20%;
    position: absolute;
    margin: 80px;
    padding: 0px;
    }
    h1{
      display: flex;
      color: blue;
      
      text-align: center;
      flex-direction: row;
      align-items: center;
    }
    .p-quiz{
      display: flex;
      margin: 10px;
      padding-top: 110px;
    }
     /* .container{
      display: flex;
      height: 100%;
      
      padding: 10px;
     
  } */
   /* .caixao-{
    height: 100%;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
} 
  .caixa-foto{
    display: flex;
    width: 30%;
    height: 200px;
    padding: 30px;
    margin: 20px;
    background-color: white;
    padding: 10px;
    

    } */
    
  
  .ico-play{
    display: flex;
    

  }
  /* a:hover {
    color: rgb(72, 114, 192);
    text-decoration: none;
  }
  .youtube{
    color: rgb(192, 72, 192);
    text-decoration: none;
  } */
   
   .video-poluicao{

     margin: 45px 40px 40px 60px;
     width: 350px;
     height: 300px;
     padding: 1px;
     border: 1px solid black;
     
 }
 .container-youtube{
   display: flex;
   padding: 10px;
   width: 90%;
   
 }
 .paragrafo-poluicao{
   display: flex;
   margin-top: 70px;
  text-align: justify;
  line-height:25px;

  
 }
 

 