
  
  
  
  .banner img {
    background-position: center;
    background-size: cover;
    width: 1259px;
    
    
  }
  /* @media(max-width: 800px){
    
    .img{
      height: 414px;
      padding-right: 345px;
      
    }
  } */
  