*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
}
.child{
    display: flex;
    width: 45%;
    height: 200px;
    padding: 30px;
    margin: 20px;
    background-color: white;
    padding: 10px;
}
.primeiro-paragrafro{
    display: flex;
    justify-content:space-around;
    font-size: 12px;
    justify-content: center;
    text-align: justify;
    margin: 20px;
    

}
.segundo-paragrafro{
    display: flex;
    justify-content:space-around;
    font-size: 12px;
    justify-content: center;
    text-align: justify;
    margin-right: 20px;
    padding: 10px;
}
.tortuga{
    
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
}

